# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key
gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
filename = '../WeatherPy/Outputs/weatherpy_output.csv'
weatherdata = pd.read_csv(filename)
lat_lon = weatherdata[['Lat', 'Lon']]
humidity = weatherdata['Humidity']

weatherdata.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Carnarvon,-24.87,113.63,75.2,73,90,16.11,AU,1604127452
1,Bredasdorp,-34.53,20.04,62.6,55,0,3.36,ZA,1604127447
2,Saint Paul Harbor,57.79,-152.41,37.4,55,90,5.82,US,1604127451
3,Busselton,-33.65,115.33,68.0,71,100,5.99,AU,1604127550
4,Namtsy,62.72,129.67,-4.0,76,0,2.24,RU,1604127550

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
vacmap = gmaps.figure()
heatlayer = gmaps.heatmap_layer(lat_lon, weights=humidity)
vacmap.add_layer(heatlayer)
vacmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
idealweather = weatherdata.loc[weatherdata['Max Temp'] > 70]
idealweather = idealweather.loc[idealweather['Max Temp'] < 80]
idealweather = idealweather.loc[idealweather['Wind Speed'] < 10]
idealweather = idealweather.loc[idealweather['Cloudiness'] == 0]

idealweather.head()

,City,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
181,Kiryat Gat,31.61,34.76,78.01,15,0,1.01,IL,1604127564
258,Wuhu,31.34,118.38,71.60,40,0,4.47,CN,1604127688
307,Riyadh,24.69,46.72,75.20,38,0,9.86,SA,1604127609
336,Najrān,17.49,44.13,73.40,25,0,4.70,SA,1604127741
420,Dingzhou,38.51,115.00,71.60,26,0,4.47,CN,1604127784

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure